*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Halant', serif;
    font-family: 'Manrope', sans-serif;
}
p{
    font-family: 'Manrope', sans-serif;;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav .img{
    width: 70%;
    margin-left: 10%;
    margin-top: 8%;
    padding-left: 15%;
}
.anchor{
    display: flex;
    
     gap: 80%; 
     margin-top: 3%;
     margin-left: 40%;
    
}
.anchor a{
    text-decoration: none;
    font-family: Halant;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #2E3A53;

    


}
.btn{
    margin-right: 10%;
    margin-top: 2%;
    padding: 1%;
    color: #155EEF;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;


    
}



.section1{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.article1{
    padding-left: 4%;
    padding-top: 8%;
}

.article1 h4{
    font-family: Halant;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;


}
.img1{
    padding-right: 5%;
}

.h1{
    font-family: Halant;
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;

    color: #155EEF;
}

.article1 p {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #2E3A53;

}

.btn1{
    background-color: blue;
    color: #FFFFFF;
    padding: 2%;
    border: none;
    margin-top: 3%;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    
    

}

.section2{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.section2 img{
    margin-left: 10%;
}

.article2{
    padding-right: 4%;
    padding-top: 3%;
}

.article2 h2{
    font-family: Halant;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #041330;


}

.article2 P{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #2E3A53;



}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.img2{
    width: 70%;
    margin-left: 10%;
    padding-left: 15%;
}

.small{
    margin-right: 10%;
}