*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Halant', serif;
    font-family: 'Manrope', sans-serif;
    

}
.container{
    width: 80%;
    display: block;
    margin:  0 auto;
    margin-top: 1%;
    background-color: #FFFFFF;


}
p{
    font-family: 'Manrope', sans-serif;;
}

.nav{
    display: flex;
    justify-content: space-between;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.nav .img{
    width: 70%;
    margin-left: 8%;
    margin-top: 17%;
    padding-left: 15%;
    
}
.anchor{
    display: flex;
    
     gap: 60%; 
     margin-top: 3%;
     margin-left: 40%;
    
}
.anchor a{
    text-decoration: none;
    font-family: Halant;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #2E3A53;

    


}
.btn{
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    color: #155EEF;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: 1px solid #155EEF;
    border-radius: 6px;


    
}



.section1{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    border: 2px solid #155EEF;
    border-radius: 8px;
}
.article1{
    padding-left: 4%;
    padding-top: 8%;
}

.article1 h4{
    font-family: Halant;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;


}
.img1{
    padding-right: 5%;
}
.techBro{
     width: 95%; 
    margin: 5% 0;
}

.h1{
    font-family: Halant;
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;

    color: #155EEF;
}

.article1 p {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #2E3A53;

}

.btn1{
    background-color: #155EEF;
    color: #FFFFFF;
    padding: 2%;
    border: none;
    margin-top: 3%;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    
    

}

.section2{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.section2 img{
    margin-left: 5%;
}
.avatar{
    margin: 10% 0;
}

.article2{
    padding-right: 5%; 
    padding-top: 5%;
}

.article2 h2{
    font-family: Halant;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #041330;


}

.article2 P{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #2E3A53;



}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.img2{
    width: 70%;
    margin-left: 8%;
    padding-left: 15%;
    margin-top: 8%;
    /* margin-bottom: 1%; */
}

.small{
    margin-right: 5%;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 1%;
    margin-bottom: 1%;

}
.img3{
    margin-top: 2%;
    padding-left: 2%; 
}


.section3{
    display: flex;
    position: relative;
    margin-top: 4%;
    border: 2px solid #155EEF;
    border-radius: 8px;
}



.img4{ 
    margin-top: 11%;
    margin-bottom: 4%;
    position: relative; 
    left: 600px;    
}

.avatar4{
    width: 80%; 
    
}

 .article3{
    background-color: #FFFFFF;
    background-blend-mode: color; 
    padding: 2%;  
    position: absolute;
    top: 10px;
    left: 130px;  
    z-index: 1;
     
    
    /* margin-top: 4%; */
 }  

.article3 p{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color:#2E3A53;
}

.article3 h2 {
    font-family: Halant;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #041330;


}

.article3  li{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color:#2E3A53;
    padding-left: 1%; 
} 